@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Top Sercet Panel</h1>
<p>Codename: @User.Identity.Name</p>
<ul>
@foreach (var c in User.Claims)
{
    <li>@c.Type: @c.Value</li>
}
</ul>

<h4>The Krabby Patty Recipie</h4>
<ul>
    <li>buns</li>
    <li>patty</li>
    <li>pickles</li>
    <li>lettuce</li>
    <li>tomatoes</li>
    <li>cheese</li>
    <li>ketchup</li>
    <li>mustard</li>
    <li>onions</li>
</ul>